// Lower Third


.lower_third {
	span#job_title {
		font-size: 5em;
		display: block;
		padding-left: 400px;
	}
	h2#name{
		display: block;
		font-size: 1.5em
		padding-left: 400px;
	}
  background-image: url(/mediafiles/name_strap.png);
  background-repeat: no-repeat;

}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}